/* Company Data App Frontend - styling 
   Mark Allen - 2019
*/

/* General settings */
.App-body {
  min-height: 100vh;
  color: white;
}
.App-content {
  padding-top: 25vh;
}
.App-footer {
  background-color: #4F4F4F;
  font-size: calc(10px + 0.5vmin);
  min-height: 5vh;
  color: white;
}
.padding-top-5vh {
  padding-top: 5vh;
}
.padding-bottom-5vh {
  padding-bottom: 5vh;
}

/* View specific */
.App-homepage {
  background-color: #474f64;
}
.App-staff {
  background-color: #6d5470;
}
.App-offices {
  background-color: #33700f;
}
.App-about {
  background-color: #b33939;
}
.col123-headline {
  color: palegoldenrod;
}
.co123-warning {
  color: lightslategray;
}

/* Data card styling */
.card {
  color: grey;
}
.card-spacing {
  margin: 10px 0 !important;
}

 /* Create, Update, Delete button styling */
.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}
.btn-create {
  background-color: rgb(83, 189, 83);
}
.btn-update {
  background-color: rgb(241, 177, 57);
  color: #ffffff;
}
.btn-delete {
  background-color: rgb(197, 66, 66);
  color: #ffffff;
}
.btn-hide {
  display: none;
}

/* Modal styling */
.modal-content {
  color: grey;
}
.modal-error {
  color: red;
}
.modal-success {
  color: green;
}
