.App-body {
  min-height: 100vh;
  color: white;
}

.App-content {
  padding-top: 25vh;
}

.App-homepage {
  background-color: #474f64;
}
.App-staff {
  background-color: #218c74;
}
.App-offices {
  background-color: #33700f;
}
.App-about {
  background-color: #b33939;
}


.App-footer {
  background-color: #4F4F4F;
  font-size: calc(10px + 0.5vmin);
  min-height: 5vh;
  color: white;
}

.col123-headline {
  color: palegoldenrod;
}
.co123-warning {
  color: lightslategray;
}

.padding-top-5vh {
  padding-top: 5vh;
}
.padding-bottom-5vh {
  padding-bottom: 5vh;
}

.card {
  color: grey;
}
.card-spacing {
  padding: 5px 0 5px 0;
}
.card-icon-1 {
  color: #227093;
}
.card-icon-2 {
  color: #cd6133;
}
.card-icon-3 {
  color: #474787;
}
.card-icon-4 {
  color: #b33939;
}

/* Contact form */
.gotcha {
  display: none;
}
.input-field {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .input-field {
    width: 70%;
  }
}
